/* Styles */
/* ------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

body {
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
}

/* ------------------------------------------------------- */
/* Text */
/* ------------------------------------------------------- */

h1, h2, h3, h4 , h5, h6{
    font-weight: 800;
}

p {
    font-weight: 400;
}

.text-small {
    font-size: 12px;
}

/* ------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------- */

button {
    border: 1px solid #EB8E24;
    padding: 8px;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #EB8E24;
}

button:active {
    opacity: 0.6;
}

.ghost-button {
    border: none;
    padding: 8px;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.2s ease;
}

.ghost-button.selected {
    background-color: #EB8E24;
    color: #000;
}

/* ------------------------------------------------------- */
/* Inputs */
/* ------------------------------------------------------- */

input {
    border: 1px solid #ffffff;
    padding: 8px;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.2s ease;
    outline: none;
    width: 100%;
}

/* ------------------------------------------------------- */
/* Surfaces, Cards and Containers */
/* ------------------------------------------------------- */

.full-height {
    min-height: 100vh;
}

.top-row {
    margin-top: 20px;
    margin-bottom: 12px;
    border-bottom: 3px solid #1C1C1C;
}

.center-row {
    background-color: #1C1C1C;
    padding: 20px;
}

.bottom-row {
    background-color: #1C1C1C;
    padding: 20px;
}

.button-row {
    padding: 0;
    border: 1px solid #ffffff;
}

.video-block {
    border: 1px solid #EB8E24;
    height: 60vh;
}

/* ------------------------------------------------------- */
/*Table */
/* ------------------------------------------------------- */

th {
    color: #EB8E24;
}

/* ------------------------------------------------------- */
/*Images */
/* ------------------------------------------------------- */

.cameraImage {
    transition: all 0.3s ease-in-out;
}